.homepage {
    background-color: #e2dfdf;
    padding-bottom: 20px;

    .adv {
        overflow: hidden;
        &-img {
          max-width: 100%;
          max-height: 200px;
          
          &:hover,
          &:active {
            transform: scale(1.05);
          }
          transition: all ease 0.65s;
        }
      }
      .hot-products {
        position: absolute;
        h2 {
          color: #f1f1f1;
        }
        .underline-title::after {
          background-color: #f1f1f1;
        }
        & > div {
          background: rgb(63, 94, 251);
          background: linear-gradient(336deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
        }
      }
    }

.hp-01 {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hp-02 {
    margin-bottom: 20px;
}

// underline title sign up - login
.underline-title {
    position: relative;

    &::after {
        content: "";
        width: 12%;
        height: 4px;
        background-color: #000;
        position: absolute;
        bottom: -3px;
        left: 0;
        transition: 1.5s;
    }

    &:hover::after {
        width: 100%;
        background: rgb(34, 193, 195);
        background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    }
}