.flash-sale {
    margin-top: 20px;
    padding-top: 20px;
    height: 480px;
    background-color: rgb(248, 245, 245);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .title-flash-sale {
        .title-content {
            display: flex;
            width: 100%;

            .logo-timeout {
                display: flex;

                .title-flash-sale {
                    background-image: url('../../../assets/logo-banner/flashsale.png');
                    width: 202px;
                    height: 30px;
                }
            }

            .xemthem {
                padding-top: 2px;
                padding-left: 70px;

                a {
                    font-size: 20px;
                    text-decoration: none;
                    color: red;
                }
            }
        }
    }

    .product-flash-sale {
        padding-top: 10px;

        .detail-poduct-flash-sale {

            .card-product-flashsale {
                display: flex;

                .css-1 {
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 2px;
                    place-content: flex-start space-between;
                    background: rgb(246, 246, 246);
                    padding: 2px 0px;


                    .css-13 {
                        background: white;
                        margin-bottom: 2px;
                        width: calc(20% - 2px);
                    }
                }
            }
        }
    }
}