.banner {
    .banner-container {
        margin-top: 20px;
        background-color: rgb(248, 245, 245);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .banner-content {
            display: flex;

            .content-left {

                .vertical-navbar {

                    height: 100%;
                    width: 100%;
                    /* Điều chỉnh chiều rộng của thanh navbar dọc */
                    color: black;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 20px;

                    .items {
                        text-align: left;
                        height: 30px;
                    }
                }

                .vertical-navbar div {
                    padding: 10px;
                    text-align: center;
                    cursor: pointer;
                    width: 100%;
                    box-sizing: border-box;
                }

                .vertical-navbar div:last-child {
                    border-bottom: none;
                }

                .vertical-navbar div:hover {
                    background-color: #e2dcdc;
                    color: orange;
                }
            }

            .content-right {
                height: 300px;
                display: flex;


                .bn-image {

                    .image {
                        height: 100%;
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}